@charset "UTF-8";

/*
    em HTMl é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: #c1f3bbe2;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: #163b12;

}

h1#principal {
    text-align: center;
    background-color: #163b12;
    color: #ffffff;

}

/* 
Se usar apenas #principal, tudo que tiver o id de principal seerá selecionado 
*/

h2 {
    color: #458a3e;


}

.basico {
    color: #3c805e;
    font-weight: bold;

}

.intermediario {
    color: #86793c;

}

.avancado {
    color: #803c3c;

}

.destaque {
    background-color: #b1c215bf;

}
